/************************

    General

**************************/

body
{
  background:#F1F1F1;
}
body button
{
 cursor: pointer;
}

.timeline
{
/*  overflow: hidden;*/
}

.timeline .section
{
  width: 100vw;
  height: 100vh;
  overflow: hidden
}

.timeline .section.verticalSection
{
  position: absolute;
  background: #f1f1f1;
  left: 100%;
}

.timeline .section.section1 { top: 0; }
.timeline .section.section2 { top: 100%;}
.timeline .section.section3 { top: 200%; }
.timeline .section.section4 { top: 300%; }
.timeline .section.section5 { top: 400%; }

/************************

    Recurrent Elements

**************************/

.timeline .section .verticalTxt
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Asimov';
  font-size: 0.6rem;
}

.timeline .section .verticalTxt.spaceXVertical 
{
  position: absolute;
  top: calc(50vh - 30vh/2);
  left: calc(5vw - 10vw/2);
  height: 30vh;
  width: 10vw;
  color: #f1f1f1;
  z-index: 99;
}

.timeline .section .verticalTxt p
{
  margin: auto;
}

.timeline .section .stepTitle
{
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-family: 'FuturaStdBold';
  line-height: 2.5vw;
  z-index: 100;
}

.timeline .section .stepTitle .stepNumber
{
  display: flex;
  flex-direction: row;
  font-size: 1vw;
  margin-right: 2vw;
}

.timeline .section .stepTitle .stepNumber .number
{
  margin-right: 1vw;
}

.timeline .section .stepTitle .titleName
{
  font-size: 3vw;
  text-transform: uppercase;
}

.timeline .section .stepsFont
{
  font-family: 'MontserratExtraBold';
  font-size: 0.8vw;
  text-transform: uppercase;
  z-index: 100;
}

.timeline .section .scrollStep
{
  position: absolute;
  bottom: 10vh;
  left: calc(50vw - 15vw/2);
  height: 15vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  will-change: opacity;
  z-index: 99;
}

.timeline .section .scrollStep.appear
{
  transition: opacity 1s ease 1s;
  opacity: 1;
}

.timeline .section .stepsFont
{
  font-family: 'MontserratExtraBold';
  font-size: 0.8vw;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

.timeline .section .step .circle
{
  position: relative;
  border-radius: 50%;
  border: solid 0.1rem #f1f1f1;
  height: 4vh;
  width: 4vh;
}

.timeline .section .step .dot
{
  position: absolute;
  top: calc(50% - 0.9vh/2);
  left: calc(50% - 0.9vh/2);
  border-radius: 50%;
  background: #f1f1f1;
  height: 0.9vh;
  width: 0.9vh;
}

.timeline .section .verticalLine
{
  position: absolute;
  left: 49.9%;
  width: 2%;
  height: 0.1%;
  border-left-width: 0.1rem;
  border-style: solid;
  transform-origin: 0 0;
  will-change: transform;
  z-index: 98;
}

.timeline .section .bgVideo video
{
  position: absolute;
  top: 50vh;
  left: 50vh;
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
  width: auto;
  height: 100vh;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.6, 1.6);
}

/************************

    Section0

**************************/

.timeline .section0 .header
{
  position: absolute;
  top: 4%;
  left: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'FuturaStdHeavy';
  font-size: 1.1rem;
  text-transform: uppercase;
  z-index: 99;
}

.timeline .section0 .header .spaceLogo
{
  margin-right: 5px;
}

.timeline .section0 .header .xLogo
{
  color: #5a8de2;
}

.timeline .section0 .title
{
  position: absolute;
  top: 13%;
  left: 34%;
  width: 60vw;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  text-transform: uppercase;
  font-family: 'FuturaStdBold';
  font-size: 3.5vw;
  line-height: 4vw;
  color: #5a8de2;
  z-index: 99;
}

.timeline .section0 .title p
{
  margin: 0;
}

.timeline .section0 .crossCorner
{
  position: absolute;
  width: 3vw;
  height: 5vh;
  font-family: 'FuturaStdMedium';
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  z-index: 99;
}

.timeline .section0 .crossCorner.topLeftCorner
{
  top: calc(6vh - 5vh/2);
  left: calc(5vw - 3vw/2);
}
.timeline .section0 .crossCorner.botLeftCorner
{
  bottom: calc(6vh - 5vh/2);
  left: calc(5vw - 3vw/2);
}
.timeline .section0 .crossCorner.topRightCorner
{
  top: calc(6vh - 5vh/2);
  right: calc(5vw - 3vw/2);
  color: #000;
}
.timeline .section0 .crossCorner.botRightCorner
{
  bottom: calc(6vh - 5vh/2);
  right: calc(5vw - 3vw/2);
}

.timeline .section0 .leftSide
{
  position: absolute;
  top: 0;
  left: 0;
  width: 41vw;
  height: 100vh;
}

.timeline .section0 .leftSide img
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.timeline .section0 .rightSide
{
  position: absolute;
  top: 0;
  left: 41vw;
  width: 59vw;
  height: 100%;
}

.timeline .section0 .rightSide .whitePart
{
  position: absolute;
  top: 0;
  left: 0;
  width: 59vw;
  height: 67vh;
}

.timeline .section0 .rightSide .whitePart .bfrTitle
{
  position: absolute;
  top: 70%;
  left: 2%;
  font-family: 'FuturaStdHeavy';
  font-size: 1.25vw;
}

.timeline .section0 .rightSide .whitePart .description
{
  position: absolute;
  top: 83%;
  left: calc(50% - 20vw/2);
  width: 20vw;
  text-align: center;
  font-family: 'FuturaStdMedium';
  font-size: 0.9vw;
}

.timeline .section0 .rightSide .whitePart .bfrVertical
{
  position: absolute;
  top: 50%;
  right: calc(5vw - 2vw/2);
  height: 20vh;
  width: 2vw;
}

.timeline .section0 .rightSide button.start
{
  position: absolute;
  top: calc(67vh - 7vh/2);
  left: calc(50% - 14vw/2);
  height: 7vh;
  width: 14vw;
  background: #5a8de2;
  border: 0;
  font-family: 'MontserratBold';
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #f1f1f1;
  z-index: 99;
  will-change: transform;
}

.timeline .section0 .rightSide button.start.close
{
  transition: transform 0.3s linear;
  transform: scaleY(0);
}

.timeline .section0 .rightSide button.start .btnCorner
{
  position: absolute;
  width: 1vw;
  height: 1vw;
  border-style: solid;
}

.timeline .section0 .rightSide button.start .btnCorner.blackCorner
{
  top: 0;
  left: 0;
  border-top-width: 0.3vw;
  border-left-width: 0.3vw;
  border-color: #000;
}
.timeline .section0 .rightSide button.start .btnCorner.whiteCorner
{
  bottom: 0;
  right: 0;
  border-right-width: 0.3vw;
  border-bottom-width: 0.3vw;
  border-color: #f1f1f1;
}

.timeline .section0 .rightSide .blackPart
{
  position: absolute;
  top: 67vh;
  left: 0;
  width: 100%;
  height: 33vh;
  background: #000;
}

.timeline .section0 .rightSide .blackPart .city
{
  position: absolute;
  height: 30%;
  width: 10%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline .section0 .rightSide .blackPart .city p
{
  font-family: 'MontserratBold';
  font-size: 0.75vw;
  color: #f1f1f1;
  margin-bottom: 1.2vw;
}

.timeline .section0 .rightSide .blackPart .city.newyork
{
  left: 15%;
}

.timeline .section0 .rightSide .blackPart .city.newyork .circle .dot
{
  background: #5a8de2;
}

.timeline .section0 .rightSide .blackPart .city.shanghai
{
  left: 75%;
  will-change: opacity;
}

.timeline .section0 .rightSide .blackPart .city.shanghai.disappear
{
  transition: opacity 1s ease 1s;
  opacity: 0;
}


.timeline .section0 .rightSide .blackPart .line
{
  position: absolute;
  top: 50%;
  left: calc(50% - 50%/2);
  height: 5%;
  width: 50%;
  border-top-width: 0.1rem;
  border-color: #f1f1f1;
  border-style: solid;
  transform-origin: 0 0;
  will-change: transform;
}

.timeline .section0 .rightSide .blackPart .line.grow
{
  transition: transform 1.5s ease 2s;
  transform: scaleX(1.5);
}

.timeline .section0 .rightSide .blackPart .travelTime
{
  position: absolute;
  top: 60%;
  left: calc(50% - 10%/2);
  height: 10%;
  width: 10%;
  font-family: 'MontserratBold';
  font-size: 0.8vw;
  color: #f1f1f1;
}

.timeline .section0 .rightSide .blackPart .follow
{
  position: absolute;
  bottom: 9%;
  left: 2%;
  height: 8%;
  width: 8%;
  border: solid 0.1rem #f1f1f1;
  font-family: 'MontserratBold';
  font-size: 0.5vw;
  text-transform: uppercase;
  color: #f1f1f1;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.timeline .section0 .rightSide .blackPart .follow:hover{
  transition: background 0.3s ease;
  transition: color 0.3s ease;
  background: #f1f1f1;
  color: #000;
}

/************************

    Section1

**************************/

.timeline .section.section1 {
  overflow: hidden;
}

.timeline .section.section1 .header2 
{
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 50px;
  font-family: 'FuturaStdHeavy';
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.timeline .section.section1 .header2 .spaceLogo 
{
  margin-right: 5px;
}

.timeline .section.section1 .header2 .xLogo 
{
  margin-left: 5px;
  color: #5a8de2;
}

.timeline .section.section1 .contentSection1 
{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline .section.section1 .contentSection1 .actualTime 
{
  position: absolute;
  top: 40vh;
  left: calc(50% - 500px/2);
  font-family: 'OpenSansExtraBold';
  font-size: 122px;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: translateY(-50%);
  z-index: 2;
}

.timeline .section.section1 .contentSection1 button.impendingDeparture 
{
  position: absolute;
  top: calc(60vh - 6vh/2);
  left: calc(50% - 20vw/2);
  width: 20vw;
  height: 6vh;
  background: #FFFFFF;
  border: 0;
  font-family: 'Asimov';
  font-size: 1rem;
  text-transform: uppercase;
  color: #000000;
  z-index: 2;
}

.timeline .section.section1 .contentSection1 .rightPart 
{
  position: relative;
  top: 10vh;
  right: -30vw;
  height: 100vh;
  z-index: 100;
}

.timeline .section.section1 .contentSection1 .rightPart .camembert 
{
  display: flex;
  align-items: center;
  font-family: 'MontserratBold';
  font-size: 32px;
  color: #FFFFFF;
}

.timeline .section.section1 .contentSection1 .stepsline
{
  position: absolute;
  top: 67vh;
  left: 0;
  width: 100%;
  height: 33vh;
  z-index: 100;
}

.timeline .section.section1 .contentSection1 .stepsline .step
{
  position: absolute;
  height: 30%;
  width: 10%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline .section.section1 .contentSection1 .stepsline .step p
{
  font-family: 'MontserratBold';
  font-size: 0.9rem;
  color: #f1f1f1;
  margin-bottom: 1.25rem;
}

.timeline .section.section1 .contentSection1 .stepsline .step.boarding
{
  left: calc(5% - 10%/2);
}

.timeline .section.section1 .contentSection1 .stepsline .step.boarding .circle .dot
{
  background: #5a8de2;
}

.timeline .section.section1 .contentSection1 .stepsline .step.takePlace
{
  left: calc(20% - 10%/2);
}

.timeline .section.section1 .contentSection1 .stepsline .step.discover
{
  left: calc(50% - 20%/2);
}

.timeline .section.section1 .contentSection1 .stepsline .line
{
  position: absolute;
  top: 50%;
  left: calc(50% - 50%/2);
  height: 30%;
  width: 50%;
  border-top-width: 0.1rem;
  border-color: #f1f1f1;
  border-style: solid;
  display : flex;
  justify-content: center;
  align-items: center;
}

.timeline .section.section1 .contentSection1 .stepsline .line p
{
  font-family: 'MontserratBold';
  font-size: 0.8rem;
  color: #f1f1f1;
}

/************************

    Section2

**************************/
.timeline .section2 .verticalLine
{
  border-color: #000;
}
.timeline .section2 .verticalLine.topLine
{
  top: 0;
}

.timeline .section2 .topLine.grow
{
  transition: transform 1.5s ease;
  transform: scaleY(175);
}

.timeline .section2 .txt
{
  position: absolute;
  top: 17vh;
  left: 17vw;
  height: 50vh;
  width: 50vw;
}

.timeline .section2 .txt .title
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'FuturaStdBold';
  text-transform: uppercase;
  font-size: 3.5vw;
  line-height: 4.75vw;
  color: #5a8de2;
  margin-bottom: 10vh;
}

.timeline .section2 .txt .title p+p 
{
  margin-left: 13vw;
}

.timeline .section2 .txt .description
{
  font-family: 'FuturaStdMedium';
  font-size: 1.2vw;
  line-height: 1.8vw;
}

.timeline .section2 .verticalTxt.spaceXVertical
{
  color: #000;
}

.timeline .section2 .step .circle
{
  border-color: #000;
}

.timeline .section2 .step .dot
{
  background: #dbb7a0;
}

.timeline .section2 .verticalLine.botLine
{
  bottom: 16vh;
}

.timeline .section2 .verticalLine.botLine.grow
{
  transition: transform 1.5s ease 1s;
  transform: scaleY(170)
}

/************************

    Section3

**************************/

.timeline .section.section3 {
  overflow: hidden;
}

.timeline .section.section3 .actualTime3
{
  position: absolute;
  top: 40vh;
  left: calc(50% - 500px/2);
  font-family: 'OpenSansExtraBold';
  font-size: 122px;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: translateY(-50%);
  z-index: 2;
}

.timeline .section.section3 .stepTitle .stepNumber .number
{
  color: #deb9a1;
}

.timeline .section.section3 .stepsFont
{
  color: #FFFFFF;
}

.timeline .section.section3 .flightInformations 
{
  width: 100vw;
  height: 30%;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 100;
  color: #FFFFFF;
  text-transform: uppercase;
}

.timeline .section.section3 .flightInformations td {
  text-align: center;
  vertical-align: center;
}

.timeline .section.section3 .flightInformations .informations
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timeline .section.section3 .flightInformations .informations .count,
.timeline .section.section3 .flightInformations .informations .round
{
  margin: 20px;
}
.timeline .section.section3 .flightInformations .informations .round { position: relative; }

.timeline .section.section3 .flightInformations .text 
{
  font-family: 'FuturaStdBold';
  font-size: 1.2vw;
}

.timeline .section.section3 .flightInformations .count 
{
  font-family: 'FuturaStdBold';
  font-size: 3vw;
}

.timeline .section.section3 .flightInformations .round .unit 
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'MontserratBold';
  font-size: 1.1vw;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

.timeline .section.section3 .flightInformations .round canvas.fillRound
{
  position: absolute;
  top: -2vh;
  left: -35%;
}

/************************

    Section4

**************************/

.timeline .section4 .verticalLine
{
  border-color: #000;
}
.timeline .section4 .verticalLine.topLine
{
  top: 0;
}

.timeline .section4 .topLine.grow
{
  transition: transform 1.5s ease;
  transform: scaleY(175);
}

.timeline .section4 .whitePart
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70vw;
}

.timeline .section4 .whitePart .verticalTxt.spaceXVertical
{
  color: #000;
}

.timeline .section4 .whitePart .stepTitle .stepNumber .number
{
  color: #d53d3d;
}

.timeline .section4 .whitePart .description
{
  position: absolute;
  top: calc(50% - 30vh/2);
  left: calc(50% - 40vw/2);
  height: 50vh;
  width: 40vw;
  font-family: 'FuturaStdMedium';
  font-size: 1vw;
  line-height: 1.5vw;
}

.timeline .section4 .whitePart .description .list
{
  margin-left: 2vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.timeline .section4 .whitePart .description .space
{
  margin-bottom: 2vh;
}

.timeline .section4 .redPart
{
  position: absolute;
  top: 0;
  left: 70vw;
  height: 100vh;
  width: 30vw;
  background: #d53d3d;
}

.timeline .section4 img
{
  position: absolute;
  top: calc(50vh - 80vh/2);
  left: calc(68vw - 20vw/2);
  height: 75vh;
  width: 30vw;
}

.timeline .section4 .step .circle
{
  border-color: #000;
}

.timeline .section4 .step .dot
{
  background: #dbb7a0;
}

.timeline .section4 .verticalLine.botLine
{
  bottom: 16vh;
}

.timeline .section4 .verticalLine.botLine.grow
{
  transition: transform 1.5s ease 1s;
  transform: scaleY(170)
}

/************************

    Section5

**************************/